.wrapper{
  background-image: linear-gradient(165.54deg, #141333 -33.39%, #202261 15.89%, #543C97 55.84%, #6939A2 74.96%);
}

.subtitle{
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 140%;
  color: #D2D1F9;
  margin-top: 10px;
}

.connectText{
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 140%;
  color: #FFFFFF;
}

.connectText{
  margin-top: 6.25rem;
  margin-bottom: 3.125rem;
}
