@import "../../styles/colors";

.subtitle{
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 140%;
  color: $accent03;
  margin-top: 10px;
}

.connectText{
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 140%;
  color: #FFFFFF;
  margin-top: 6.25rem;
  margin-bottom: 3.125rem;
}
