@import "../src/styles/colors";

.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.selects{
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 100%;
  max-width: 13.75rem;
  margin-inline: auto;
  margin-top: 2rem;
  align-self: stretch;
}

.button{
  margin-top: 2rem;
}

.errorText{
  color: $error;
  font-size: 0.8125rem;
  margin-top: 0.625rem;
}
