$text-color: #333333;
$text-color-secondary: #4E4E4E;

$background:#FFF0F0;

$accent: #8E8CF0;
$accent02: #454895;
$accent03: #D2D1F9;
$fillButton: #EAEEF7;
$error: tomato;
$buttonGradient: linear-gradient(125.02deg, #642B73 18.39%, #C6426E 81.83%);
$gradient: linear-gradient(165.54deg, #141333 -33.39%, #202261 15.89%, #543C97 55.84%, #6939A2 74.96%);
$buttonWhite: #FBFBFF;
