@import "../../styles/_colors.scss";

.subtitle{
  display: block;
  font-size: 0.875rem;
  line-height: 171%;
  text-align: center;
  color: $text-color-secondary;
  margin-bottom: 2.5rem;
}

.question{
  font-weight: 700;
  font-size: 1rem;
  line-height: 150%;
  text-align: center;
  color: $text-color-secondary;
  margin-bottom: 2.5rem;
}

.button{
  background-color: transparent;
  border: none;
  outline: none;
  display: flex;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  cursor: pointer;
}

.buttonText{
  background: $accent02;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  display: flex;
  justify-content: space-between;
  color: #FFFFFF;
  padding: 0.875rem 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  &.gradient{
    background: $buttonGradient;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.buttonsContainer{
  display: flex;
  align-items: flex-end;
  gap: 1.25rem;
  margin-bottom: 4rem;
}

.footerText{
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 140%;
  text-align: center;
  margin-bottom: 0.875rem;
  color: $text-color-secondary;
}

.link{
  display: inline-block;
  color: inherit;
  text-decoration: underline;
  &:hover{
    text-decoration: none;
  }
}
