@import "../../styles/_colors.scss";

.subtitle{
  display: block;
  font-size: 0.875rem;
  line-height: 171%;
  text-align: center;
  color: #4E4E4E;
  margin-bottom: 2.5rem;
}

.question{
  font-weight: 700;
  font-size: 1rem;
  line-height: 150%;
  text-align: center;
  color: #4E4E4E;
  margin-bottom: 2.5rem;
}
