@import "../../styles/_colors.scss";

.description{
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 130%;
  text-align: center;
  color: $text-color;
  margin-top: 1.875rem;
  margin-bottom: 1.25rem;
}

.footerText{
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 130%;
  text-align: center;
  color: #343434;
  margin-bottom: 3.125rem;
}

.link{
  color: $accent;
  text-decoration: underline;
  &:hover{
    text-decoration: none;
  }
}

.button{
  margin-inline: auto;
  width: 100%;
}

.errorText{
  color: $error;
  font-size: 0.8125rem;
  margin-top: 0.625rem;
}
